@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat-Bold';
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6700;
    padding: 8px 15px;
}

.contact-header {
    color: yellow;
    font-size: 2.5rem;
    text-shadow: 4px 2px 0 orange;
}

.icon-text span {
    margin-right: 5px;
}

p, a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    word-break: break-word;
}

a:hover {
    text-decoration: underline;
}

.icon-text img {
    margin-right: 10px;
    height: 2em;
    width: auto;
}

.contact-box {
    margin: 2em;
    padding: 1.5em;
    color: #FF6700;
    max-width: 80%;
    box-sizing: border-box;
    text-align: left;
    border: 2px solid yellow;
    border-radius: 10px;
}

.icon-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.go-back-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.menu-icon {
    height: 2.5em;
    width: auto;
    cursor: pointer;
}

@media (min-width: 600px) {
    nav {
        padding: 20px 50px;
    }

    .contact-header {
        font-size: 68px;
        text-shadow: 4px 4px 0 orange;
    }

    .icon-text span {
        margin-right: 10px;
    }

    .icon-text img {
        height: 3em;
    }

    .contact-box {
        margin: 2em auto;
        padding: 2em;
        max-width: 600px;
    }

    .icon-section {
        padding: 2em;
        gap: 30px;
    }

    .icon-text {
        margin-bottom: 15px;
    }

    .menu-icon {
        height: 40px;
    }
}
